<div class="d-flex">
  <app-sidebar></app-sidebar>

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam alias blanditiis ut aspernatur, aperiam necessitatibus perspiciatis facere, sapiente aliquid amet reiciendis, eius soluta! Atque quisquam, nisi cupiditate provident debitis nihil!
      </div>
    </div>
  </div>
</div>